.display-flex-column-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

.display-flex-row-mixin(@principal_axis: flex-start ,@cross_axis: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: @principal_axis;
  align-items: @cross_axis;
}

// 多行文本....
.text-lines(@lineNum) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box(@boxstyle: border-box) {
  box-sizing: @boxstyle;
}

.bor-box {
  .border-box;
}

.z-index(@index: 1) {
  z-index: @index;
}

@primary-color: #999;
@bg-color: #fff;